@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800&family=Bruno+Ace&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Bruno Ace', cursive; */
    font-family: 'Albert Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 1.5rem;
}
.question-block {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.question{
    flex: 3;
    font-size: 2rem;
}
.timer{
    flex: 1;
    align-items: flex-end;
    font-size: 2rem;
    text-align: right;
}
.answer-block {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.answer {
    flex: 3;
    font-size: 2rem;
}
.skip {
    flex: 1;
    align-items: flex-end;
    font-size: 2rem;
}
.bubble-body {
    display: grid;
    grid-column-start: auto;
    grid-template-columns: repeat(12, 1fr) ;
    height: 500px;
    padding-top: 400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
@keyframes mymove {
    from {
        bottom: 0px;
    }

    to {
        bottom: 400px;
    }
}

.bubble {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-family: 'Bruno Ace', cursive;
    text-align: center;
    font-size: 3.5rem;
    padding: 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    animation: mymove 8s infinite;
}
.pop {
    background: radial-gradient(rgba(255, 255, 255, 0.8), black);
}
.hide {
    visibility: hidden;
}
.b1 {
    animation-timing-function: linear;
    background:radial-gradient(rgba(255, 255, 255, 0.1), hotpink);
}

.b2 {
    animation-timing-function: ease;
    background:radial-gradient(rgba(255, 255, 255, 0.1), skyblue);
}

.b3 {
    animation-timing-function: ease-in;
    background:radial-gradient(rgba(255, 255, 255, 0.1), lightgreen);
}

.b4 {
    animation-timing-function: ease-out;
    background:radial-gradient(rgba(255, 255, 255, 0.1), lightcoral);
}

.b5 {
    animation-timing-function: ease-in-out;
    background:radial-gradient(rgba(255, 255, 255, 0.1), #5845c6);
}
.b6 {
    animation-timing-function: linear;
    background:radial-gradient(rgba(255, 255, 255, 0.1), hotpink);
}

.b7 {
    animation-timing-function: ease;
    background:radial-gradient(rgba(255, 255, 255, 0.1), skyblue);
}

.b8 {
    animation-timing-function: ease-in;
    background:radial-gradient(rgba(255, 255, 255, 0.1), lightgreen);
}

.b9 {
    animation-timing-function: ease-out;
    background:radial-gradient(rgba(255, 255, 255, 0.1), lightcoral);
}

.b10 {
    animation-timing-function: ease-in-out;
    background:radial-gradient(rgba(255, 255, 255, 0.1), #5845c6);
    color: white;
}

footer {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    color: #666;
    background-color: #dfdfdf;
    padding: 1rem;
}